<nav>
  <button routerLink="/top">TOP of Heroes</button>
  <button routerLink="/heroes" routerLinkActive="active">Heroes</button>
</nav>

<div style="text-align:center">
  <h1>
    {{title}}    
  </h1>
  <app-hero-detail *ngIf="details; else noDetail" [(heroForDetail)]="heroSelected" (heroToShow)="heroChanged($event)"></app-hero-detail>
  <ng-template #noDetail>
    <app-heroes (shouldShowDetails)="showDetails($event)" [(heroForDetail)]="heroSelected" ></app-heroes>
  </ng-template>
  
</div>
 

